<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a href="#" class="navbar-brand">Fruits</a>
    </div>
    <div class="d-flex me-3">
      <a class="btn btn-success" routerLink="/fruit/create">Add+</a>
    </div>
  </nav>
</div>

<router-outlet></router-outlet>
<!-- <div *ngIf = "mobiles" class="container mob-table">

    <div class="headers">
      <h2 class="table-title">Manage mobiles</h2>
      <button class="btn add">Add Mobile</button>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th>Mobile</th>
          <th>Price(RS)</th>
          <th>RAM</th>
          <th>Storage</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
    </table>
    <tbody class="text-center">
      <tr *ngFor="let mobile of mobiles">
          <td>{{mobile['name']}}</td>
          <td>{{mobile['price']}}</td>
          <td>{{mobile['ram']}}</td>
          <td>{{mobile['storage']}}</td>
          <td>
            <button class="btn btn-primary">Edit</button>
          </td>
          <td>
            <button class="btn btn-danger">Delete</button>
          </td>
      </tr>
    </tbody>

</div> -->